{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asignacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignacion.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if asignacion.createdAt %}{{ asignacion.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if asignacion.updatedAt %}{{ asignacion.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('asignacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('asignacion_edit', { 'id': asignacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
