<!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a class="active" href="/">
                          <i class="icon-home"></i>
                          <span>Inicio</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-user"></i>
                          <span>Investigador</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="../../frontend/template_content/index.html">Boxed Page</a></li>
                          <li><a  href="horizontal_menu.html">Horizontal Menu</a></li>
                          <li><a  href="language_switch_bar.html">Language Switch Bar</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-laptop"></i>
                          <span>Proyecto</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{asset('proyecto/new')}}">Ingresar Nuevo Proyecto</a></li>
                            <li><a  href="{{asset('proyecto/proyectoIngresado')}}">Ver proyectos nuevos</a></li>

                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-key"></i>
                          <span>Seguridad</span>
                      </a>
                      <ul class="sub">
                          <li><a   href="{{asset('menuitem/show')}}">Gestion Menus</a></li>
                          <li><a  href="#">Gestion Roles</a></li>
                          <li><a  href="{{asset('user/show')}}">Gestion Usuarios</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-pencil"></i>
                          <span>Actividades </span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{asset('actividad/actividades')}}">Agregar Actividades</a></li>
                          <li><a  href="horizontal_menu.html">Horizontal Menu</a></li>
                          <li><a  href="language_switch_bar.html">Language Switch Bar</a></li>
                      </ul>
                  </li>
            </ul>
          </div>
      </aside>
      <!--sidebar end-->
