{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoriaproyecto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoriaProyecto.id }}</td>
            </tr>
            <tr>
                <th>Nombrecategoria</th>
                <td>{{ categoriaProyecto.nombreCategoria }}</td>
            </tr>
            <tr>
                <th>Descripcioncategoria</th>
                <td>{{ categoriaProyecto.descripcionCategoria }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoriaproyecto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categoriaproyecto_edit', { 'id': categoriaProyecto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
